<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>NSURLConnection</string>
		<key>description</key>
		<string>Show how to use NSURLConnection</string>
		<key>class</key>
		<string>PMSKNSURLConnectionViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASIHTTPRequest</string>
		<key>description</key>
		<string>Show hot to user ASIHTTPRequest</string>
		<key>class</key>
		<string>PMSKASIHTTPRequestViewController</string>
	</dict>
</array>
</plist>
